/* font-family: "NeoSansProRegular"; */
@font-face {
    font-family: "NeoSansProRegular";
    src: url("../../../../../fonts/NeoSansProRegular/NeoSansProRegular.eot");
    src: url("../../../../../fonts/NeoSansProRegular/NeoSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../../../../../fonts/NeoSansProRegular/NeoSansProRegular.woff") format("woff"),
    url("../../../../../fonts/NeoSansProRegular/NeoSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "NeoSansProBold"; */
@font-face {
    font-family: "NeoSansProBold";
    src: url("../../../../../fonts/NeoSansProBold/NeoSansProBold.eot");
    src: url("../../../../../fonts/NeoSansProBold/NeoSansProBold.eot?#iefix")format("embedded-opentype"),
    url("../../../../../fonts/NeoSansProBold/NeoSansProBold.woff") format("woff"),
    url("../../../../../fonts/NeoSansProBold/NeoSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
