$padding-prefix: 0.70;

@for $i from 0 through 10 {
  .padding-#{$i} {
    padding: #{$i * $padding-prefix}rem !important;
  }
  .padding-left-#{$i} {
    padding-left: #{$i * $padding-prefix}rem !important;
  }
  .padding-right-#{$i} {
    padding-right: #{$i * $padding-prefix}rem !important;
  }
  .padding-top-#{$i} {
    padding-top: #{$i * $padding-prefix}rem !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i * $padding-prefix}rem !important;
  }
  .padding-horizontal-#{$i} {
    padding-left: #{$i * $padding-prefix}rem;
    padding-right: #{$i * $padding-prefix}rem;
  }
  .padding-vertical-#{$i} {
    padding-top: #{$i * $padding-prefix}rem !important;
    padding-bottom: #{$i * $padding-prefix}rem !important;
  }

  .margin-#{$i} {
    margin: #{$i * $padding-prefix}rem !important;
  }
  .margin-left-#{$i} {
    margin-left: #{$i * $padding-prefix}rem !important;
  }
  .margin-right-#{$i} {
    margin-right: #{$i * $padding-prefix}rem !important;
  }
  .margin-top-#{$i} {
    margin-top: #{$i * $padding-prefix}rem !important;
  }
  .margin-bottom-#{$i} {
    margin-bottom: #{$i * $padding-prefix}rem !important;
  }
  .margin-horizontal-#{$i} {
    margin-left: #{$i * $padding-prefix}rem !important;
    margin-right: #{$i * $padding-prefix}rem !important;
  }
  .margin-vertical-#{$i} {
    margin-top: #{$i * $padding-prefix}rem !important;
    margin-bottom: #{$i * $padding-prefix}rem !important;
  }
  .width-#{$i} {
    width: #{$i * 4}rem !important;
  }
  .height-#{$i} {
    height: #{$i * 4}rem !important;
  }
  .min-width-#{$i} {
    min-width: #{$i * 4}rem !important;
  }
  .min-height-#{$i} {
    min-height: #{$i * 4}rem !important;
  }
  .max-width-#{$i} {
    max-width: #{$i * 4}rem !important;
  }
  .max-height-#{$i} {
    max-height: #{$i * 4}rem !important;
  }

  .width-d#{$i} {
    width: #{$i * 2}rem !important;
  }
  .height-d#{$i} {
    height: #{$i * 2}rem !important;
  }
  .min-width-d#{$i} {
    min-width: #{$i * 2}rem !important;
  }
  .min-height-d#{$i} {
    min-height: #{$i * 2}rem !important;
  }
  .max-width-d#{$i} {
    max-width: #{$i * 2}rem !important;
  }
  .max-height-d#{$i} {
    max-height: #{$i * 2}rem !important;
  }

  .width-v#{$i} {
    width: #{$i * 10}vw !important;
  }
  .height-v#{$i} {
    height: #{$i * 10}vw !important;
  }
  .min-width-v#{$i} {
    min-width: #{$i * 10}vw !important;
  }
  .min-height-v#{$i} {
    min-height: #{$i * 10}vw !important;
  }
  .max-width-v#{$i} {
    max-width: #{$i * 10}vw !important;
  }
  .max-height-v#{$i} {
    max-height: #{$i * 10}vw !important;
  }
}

@for $i from 0 through 10 {
  .padding-d#{$i} {
    padding: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .padding-left-d#{$i} {
    padding-left: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .padding-right-d#{$i} {
    padding-right: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .padding-top-d#{$i} {
    padding-top: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .padding-bottom-d#{$i} {
    padding-bottom: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .padding-horizontal-d#{$i} {
    padding-left: #{($i - 0.5) * $padding-prefix}rem;
    padding-right: #{($i - 0.5) * $padding-prefix}rem;
  }
  .padding-vertical-d#{$i} {
    padding-top: #{($i - 0.5) * $padding-prefix}rem !important;
    padding-bottom: #{($i - 0.5) * $padding-prefix}rem !important;
  }

  .margin-d#{$i} {
    margin: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .margin-left-d#{$i} {
    margin-left: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .margin-right-#{$i} {
    margin-right: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .margin-top-d#{$i} {
    margin-top: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .margin-bottom-d#{$i} {
    margin-bottom: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .margin-horizontal-d#{$i} {
    margin-left: #{($i - 0.5) * $padding-prefix}rem !important;
    margin-right: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .margin-vertical-d#{$i} {
    margin-top: #{($i - 0.5) * $padding-prefix}rem !important;
    margin-bottom: #{($i - 0.5) * $padding-prefix}rem !important;
  }
  .width-d#{$i} {
    width: #{$i * 2 - 0.5}rem !important;
  }
  .height-d#{$i} {
    height: #{$i * 2 - 0.5}rem !important;
  }
  .min-width-#{$i} {
    min-width: #{$i * 2 - 0.5}rem !important;
  }
  .min-height-#{$i} {
    min-height: #{$i * 2 - 0.5}rem !important;
  }
  .max-width-#{$i} {
    max-width: #{$i * 2 - 0.5}rem !important;
  }
  .max-height-#{$i} {
    max-height: #{$i * 2 - 0.5}rem !important;
  }

  .width-vd#{$i} {
    width: #{$i * 5}vw !important;
  }
  .height-vd#{$i} {
    height: #{$i * 5}vw !important;
  }
  .min-width-vd#{$i} {
    min-width: #{$i * 5}vw !important;
  }
  .min-height-vd#{$i} {
    min-height: #{$i * 5}vw !important;
  }
  .max-width-vd#{$i} {
    max-width: #{$i * 5}vw !important;
  }
  .max-height-vd#{$i} {
    max-height: #{$i * 5}vw !important;
  }
}
