@divider-color: #ddd;

.popup {
  background: #fff;
  position: absolute;
  border-radius: 0.25rem;
  // border: 1px solid @divider-color;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;

  pointer-events: all !important;

  color: @font-color-black;

  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  z-index: 102;

  * {
    z-index: 103;
  }

  @media screen and (max-width: @mobile) {
    width: 80vw;
    max-width: 80vw;
  }
  @media screen and (min-width: @mobile) and (max-width: @tablet) {
    width: 80vw;
    max-width: 80vw;
  }
  @media screen and (min-width: @tablet) and (max-width: @pc) {
    width: 300px;
    max-width: 300px;
  }
  @media screen and (min-width: @pc) and (max-width: @ultra) {
    width: 300px;
    max-width: 300px;
  }
  @media screen and (min-width: @ultra) {
    width: 300px;
    max-width: 300px;
  }

  &.large {
    @media screen and (max-width: @mobile) {
      width: auto;
      max-width: 85vw;
    }
    @media screen and (min-width: @mobile) and (max-width: @tablet) {
      width: auto;
      max-width: 80vw;
    }
    @media screen and (min-width: @tablet) and (max-width: @pc) {
      width: auto;
      max-width: 80vw;
    }
    @media screen and (min-width: @pc) and (max-width: @ultra) {
      width: auto;
      max-width: 80vw;
    }
    @media screen and (min-width: @ultra) {
      width: auto;
      max-width: 80vw;
    }
  }

  &.auto {
    width: auto !important;
    max-width: none !important;
  }
}

.popup .barrow.right {
  content: "";
  display: block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid @divider-color;
  position: absolute;
  left: -9px;
}

.popup .farrow.right {
  content: "";
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #fff;
  position: absolute;
  left: -8px;
}

.popup .barrow.left {
  content: "";
  display: block;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid @divider-color;
  position: absolute;
  right: -9px;
}

.popup .farrow.left {
  content: "";
  display: block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
  position: absolute;
  right: -8px;
}

.popup .barrow.bottom {
  content: "";
  display: block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid @divider-color;
  position: absolute;
  top: -9px;
}

.popup .farrow.bottom {
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
}

.popup .barrow.top {
  content: "";
  display: block;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid @divider-color;
  position: absolute;
  bottom: -9px;
}

.popup .farrow.top {
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  bottom: -8px;
}
