@import (less) "normalize.less";

@border-color: #ddd;
@white-color: #fff;
@lighter-color: #f6f6f6;
@ultra-lighter-color: #fafafa;
@darker-color: #e3e3e3;
@shadow-color: #eee;
@disabled-color: #f6f6f6;
@active-color: #369aff;
@active-lighter-color: #74b8ff;
@red-color: #ff3636;
@blue-color: #36a4ff;
@green-color: #00b96b;
@purple-color: #b81ed7;

@font-color: #fff;
@font-color-black: #333;
@font-color-link: #006FDE;
@font-color-inverted: #fff;
@font-color-disabled: #666;
@font-color-more-disabled: #999;
@font-color-error: #fc5f5f;

@mobile: 600px;
@tablet: 1000px;
@pc-old: 1250px;
@pc: 1400px;
@ultra: 2000px;
@mega: 2600px;

@import (less) "font.less";
@import (less) "font-awesome.css";
@import (less) "padding.css";
@import (less) "stars.css";
@import (less) "popup.less";

@keyframes anim {
  0% { background-position: 0 0; }
  100% { background-position: 50px 50px; }
}

body {
  // font-family: "NeoSansProRegular";
  font-family: 'lato', sans-serif;
  // font-weight: 300;
  font-size: 1rem;
  line-height: 1.4rem;
  color: @font-color;
  // min-height: 100vh;

  height: 100%;
  background: radial-gradient(ellipse at center, #1B2735 0%, #090A0F 100%);
  background-color: black;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: visible;
}

// .app {
//   width: 100%;
//   height: 100%;
//   min-height: 100vh;
//   min-width: 100vw;
//   overflow-x: hidden;
//   overflow-y: visible;
// }

.stars-container {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  // min-height: 100vh;
  // height: 100%;
  width: 100%;
  z-index: 0;
  pointer-events: none;

  * {
    pointer-events: none;
  }
  // min-width: 100%;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #000;
  will-change: opacity;

  .content {
    position: absolute;
    width: 100%;
    height: 30rem;
    top: calc(50% - 15rem);
    z-index: 201;
    will-change: opacity;
  }
}

.pageload-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    pointer-events: none;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 30rem;
    top: calc(50% - 15rem);
    display: none;
    z-index: 101;
  }
}

* {
  vertical-align: top;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

img {
  width: 100%;
  &.blur {
    -webkit-filter: blur(10px);
  }
}

.selectable {
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.transition {
  transition-property: background-color, color, background;
  transition-duration: 0.2s;
  will-change: background-color, color, background;
}

#view-server {
  display: inline-block;
  // position: relative;
}

#props {
  display: none;
}

p {
  margin: 0;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  p + & {
    margin-top: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:not(.item):not(.header):not(.button):not(.nota), .a {
  .unselectable;
  display: inline-block;
  cursor: pointer;
  color: @font-color-link;

  transition-property: opacity, background-color, box-shadow;
  transition-duration: 0.2s;
  will-change: opacity, background-color, box-shadow;

  &:hover, &:hover, &:focus  {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    text-underline-position: 2px;
    text-decoration: underline;
  }

  &:active, &.active  {
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.02);
    opacity: 0.5;
  }
}

.link {
  .unselectable;
  .pointer;

  transition-property: opacity, background-color, box-shadow;
  transition-duration: 0.2s;
  will-change: opacity, background-color, box-shadow;

  &:hover, &:hover, &:focus  {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
  }

  &:active, &.active  {
    background-color: rgba(0, 0, 0, 0.01);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.02);
    opacity: 0.5;
  }
}

.container {
  position: relative;

  &.block {
    display: block;
  }

  width: 100%;

  &.auto {
    width: auto;
  }

  &.p90 {
    width: 90%;
  }

  &.p95 {
    width: 95%;
  }

  &.be {
    width: 60%;
    @media screen and (max-width: @tablet) {
      width: 85%;
    }

    @media screen and (max-width: @mobile) {
      width: 100%;
    }
  }

  &.bee {
    width: 80%;
    @media screen and (max-width: @tablet) {
      width: 90%;
    }

    @media screen and (max-width: @mobile) {
      width: 100%;
    }
  }

  @media screen and (max-width: @mobile) {
    width: 100%;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.white {
    background-color: rgba(255, 255, 255, 0.95);
    color: @font-color-black;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.absolute {
  position: absolute;

  &.top {
    top: 0;
  }

  &.right {
    right: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }
}

.inlines {
  & > * {
    display: inline-block !important;
  }

  &:not(.pinned) {
    &.strict {
      & > *:first-child:nth-last-child(1) {
        width: 100%;
      }

      /* two items */
      & > *:first-child:nth-last-child(2),
      & > *:first-child:nth-last-child(2) ~ * {
        width: 50%;
      }

      /* three items */
      & > *:first-child:nth-last-child(3),
      & > *:first-child:nth-last-child(3) ~ * {
        width: 33.3333%;
      }

      /* four items */
      & > *:first-child:nth-last-child(4),
      & > *:first-child:nth-last-child(4) ~ * {
        width: 25%;
      }

      /* five items */
      & > *:first-child:nth-last-child(5),
      & > *:first-child:nth-last-child(5) ~ * {
        width: 20%;
      }
    }

    &.should-1 > * {
      width: 100% !important;
    }

    &.should-2 > * {
      width: 50% !important;
    }

    &.should-3 > * {
      width: 33.3333% !important;
    }

    &.should-4 > * {
      width: 25% !important;
    }

    &.should-5 > * {
      width: 20% !important;
    }

    @media screen and (max-width: @pc) {
      &.pc-1 > * {
        width: 100% !important;
      }

      &.pc-2 > * {
        width: 50% !important;
      }

      &.pc-3 > * {
        width: 33.3333% !important;
      }

      &.pc-4 > * {
        width: 25% !important;
      }

      &.pc-5 > * {
        width: 20% !important;
      }
    }

    @media screen and (max-width: @tablet) {
      &.tablet-1 > * {
        width: 100% !important;
      }

      &.tablet-2 > * {
        width: 50% !important;
      }

      &.tablet-3 > * {
        width: 33.3333% !important;
      }

      &.tablet-4 > * {
        width: 25% !important;
      }

      &.tablet-5 > * {
        width: 20% !important;
      }
    }

    @media screen and (max-width: @mobile) {
      &.mobile-1 > * {
        width: 100% !important;
      }

      &.mobile-2 > * {
        width: 50% !important;
      }

      &.mobile-3 > * {
        width: 33.3333% !important;
      }

      &.mobile-4 > * {
        width: 25% !important;
      }

      &.mobile-5 > * {
        width: 20% !important;
      }
    }
  }

  &.pinned {
    // -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    // -moz-column-count: 3;
    -moz-column-gap: 0;
    -moz-column-fill: auto;
    // column-count: 3;
    column-gap: 0;
    column-fill: auto;

    & > * {
      width: 100% !important;
    }

    &.should-1 {
      -webkit-column-count: 1;
      column-count: 1;
    }

    &.should-2 {
      -webkit-column-count: 2;
      column-count: 2;
    }

    &.should-3 {
      -webkit-column-count: 3;
      column-count: 3;
    }

    &.should-4 {
      -webkit-column-count: 4;
      column-count: 4;
    }

    &.should-5 {
      -webkit-column-count: 5;
      column-count: 5;
    }

    @media screen and (max-width: @pc) {
      &.pc-1 {
        -webkit-column-count: 1;
        column-count: 1;
      }

      &.pc-2 {
        -webkit-column-count: 2;
        column-count: 2;
      }

      &.pc-3 {
        -webkit-column-count: 3;
        column-count: 3;
      }

      &.pc-4 {
        -webkit-column-count: 4;
        column-count: 4;
      }

      &.pc-5 {
        -webkit-column-count: 5;
        column-count: 5;
      }
    }

    @media screen and (max-width: @tablet) {
      &.tablet-1 {
        -webkit-column-count: 1;
        column-count: 1;
      }

      &.tablet-2 {
        -webkit-column-count: 2;
        column-count: 2;
      }

      &.tablet-3 {
        -webkit-column-count: 3;
        column-count: 3;
      }

      &.tablet-4 {
        -webkit-column-count: 4;
        column-count: 4;
      }

      &.tablet-5 {
        -webkit-column-count: 5;
        column-count: 5;
      }
    }

    @media screen and (max-width: @mobile) {
      &.mobile-1 {
        -webkit-column-count: 1;
        column-count: 1;
      }

      &.mobile-2 {
        -webkit-column-count: 2;
        column-count: 2;
      }

      &.mobile-3 {
        -webkit-column-count: 3;
        column-count: 3;
      }

      &.mobile-4 {
        -webkit-column-count: 4;
        column-count: 4;
      }

      &.mobile-5 {
        -webkit-column-count: 5;
        column-count: 5;
      }
    }
  }
}

.top-menu {
  margin-top: 1rem;

  border-spacing: 1.0rem 0;
  // background-color: rgba(0, 0, 0, 1);
  // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  // padding: 0.8rem 0;
  // border-radius: 0.8rem;

  .items-desktop, .items-mobile {
    display: table-cell;
    width: auto;
    white-space: nowrap;
  }

  * {
    .unselectable;
  }

  .item, .header, .item-avatar {
    display: table-cell;
    width: auto;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    * {
      pointer-events: none;
    }

    .fa {
      font-size: 1rem;
      line-height: 1.4rem;
      vertical-align: baseline;

      &:not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }

  .space {
    display: table-cell;
    width: 100%;
  }

  .header {
    cursor: default;

    font-size: 1.2rem;
    padding-right: 1.4rem;
    line-height: 1.4rem;
  }

  a.header {
    cursor: pointer;
  }

  .item {
    cursor: pointer;
    border-radius: 0.6rem;

    .transition;
  }

  .item-avatar {
    padding: 0;
    cursor: pointer;
    // width: 2rem;
    min-width: 2.8rem;
    max-width: 4rem;
    position: relative;

    vertical-align: middle;

    transition-property: opacity;
    transition-duration: 0.15s;
    will-change: opacity;

    img {
      width: 100%;
      border-radius: 0.6rem;

      transition-property: box-shadow;
      transition-duration: 0.15s;
      will-change: box-shadow;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      border: 1px solid #eee;

      opacity: 0;

      transition-property: opacity;
      transition-duration: 0.3s;
      will-change: opacity;
    }

    &.loading, &[loading="true"] {
      color: transparent;
      background: transparent;
      cursor: default;
      pointer-events: none;

      &:hover, &:hover, &:focus  {
        color: transparent;
        background: transparent;
      }

      &:active, &.active  {
        color: transparent;
        background: transparent;
      }

      &:after {
        opacity: 1;
        background-size: 4rem 4rem;
        background-image: linear-gradient(-45deg, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
        animation: anim 2s linear infinite;

        border-radius: 0.6rem;
      }
    }
  }

  .item-avatar:hover, .item-avatar:hover, .item-avatar:focus  {
    img {
      box-shadow: 0 0 1rem rgba(0, 186, 255, 0.4);
    }
  }

  .item-avatar:active, .item-avatar.active  {
    opacity: 0.8;

    box-shadow: 0 0 1rem rgba(36, 0, 255, 0.4);
  }

  .item:hover, .item:hover, .item:focus  {
    color: @font-color-black;
    background-color: @shadow-color;
  }

  .item:active, .item.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }

  .items-mobile {
    display: none;
  }

  @media screen and (max-width: @mobile) {
    width: calc(100%);

    .items-desktop {
      display: none;
    }

    .items-mobile {
      display: table-cell;
    }
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #090A0F;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  z-index: 50;
  opacity: 0;
  display: none;

  * {
    .unselectable;
  }

  .item, .header {
    display: block;
    width: 100%;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;

    * {
      pointer-events: none;
    }

    .fa {
      font-size: 1rem;
      line-height: 1.4rem;
      vertical-align: baseline;

      &:not(:last-child) {
        margin-right: 0.3rem;
      }
    }
  }

  .item {
    cursor: pointer;

    .transition;
  }

  .item:hover, .item:hover, .item:focus  {
    color: @font-color-black;
    background-color: @shadow-color;
  }

  .item:active, .item.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 8rem;
}

.box {
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;

  &.big {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.95rem;
    padding-bottom: 0.6rem;
  }
}

.button {
  .unselectable;
  display: inline-block;

  position: relative;

  width: auto;
  min-width: 2.8rem;
  white-space: nowrap;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  border-radius: 0.6rem;

  * {
    pointer-events: none;
  }

  .fa {
    font-size: 1rem;
    line-height: 1.4rem;
    vertical-align: baseline;

    &:not(:last-child) {
      margin-right: 0.3rem;
    }
  }

  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';

    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.3s;
    will-change: opacity;
  }

  &.loading, &[loading="true"] {
    color: transparent;
    background: transparent;
    cursor: default;
    pointer-events: none;

    border: 1px solid #eee;

    &:hover, &:hover, &:focus  {
      color: transparent;
      background: transparent;
    }

    &:active, &.active  {
      color: transparent;
      background: transparent;
    }

    &:after {
      opacity: 1;
      background-size: 4rem 4rem;
      background-image: linear-gradient(-45deg, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
      animation: anim 2s linear infinite;

      border-radius: 0.6rem;
    }
  }

  &.mini {
    font-size: 0.8rem;
    line-height: 1.6rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    .fa {
      font-size: 0.9rem;
      line-height: 1.5rem;
      vertical-align: baseline;

      &:not(:last-child) {
        margin-right: 0.2rem;
      }
    }
  }

  .transition;

  color: @font-color-black;
  background-color: @shadow-color;

  &:hover, &:hover, &:focus  {
    color: @font-color-black;
    background-color: darken(@shadow-color, 5);
  }

  &:active, &.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }

  &.transparent {
    background-color: transparent;
    color: inherit;

    &:hover, &:hover, &:focus  {
      color: @font-color-black;
      background-color: darken(@shadow-color, 5);
    }

    &:active, &.active  {
      background-color: @active-color;
      color: @font-color-inverted;
      // transform: translateY(1.5px);
    }
  }

  &.semitransparent {
    background-color: rgba(238, 238, 238, 0.6);
    color: inherit;

    &:hover, &:hover, &:focus  {
      color: @font-color-black;
      background-color: darken(@shadow-color, 5);
    }

    &:active, &.active  {
      background-color: @active-color;
      color: @font-color-inverted;
      // transform: translateY(1.5px);
    }
  }

  &.blue {
    background-color: @blue-color;
    color: @font-color;

    &:hover, &:hover, &:focus  {
      background-color: lighten(@blue-color, 10);
      color: @font-color-inverted;
    }

    &:active, &.active  {
      background-color: lighten(@blue-color, 25);
      color: @font-color-inverted;
      // transform: translateY(1.5px);
    }
  }

  &.purple {
    background-color: @purple-color;
    color: @font-color;

    &:hover, &:hover, &:focus  {
      background-color: lighten(@purple-color, 15);
      color: @font-color-inverted;
    }

    &:active, &.active  {
      background-color: lighten(@purple-color, 25);
      color: @font-color-inverted;
      // transform: translateY(1.5px);
    }
  }

  &.red {
    background-color: @red-color;
    color: @font-color;

    &:hover, &:hover, &:focus  {
      background-color: lighten(@red-color, 10);
      color: @font-color-inverted;
    }

    &:active, &.active  {
      background-color: lighten(@red-color, 25);
      color: @font-color-inverted;
      // transform: translateY(1.5px);
    }
  }

  &.green {
    background-color: @green-color;
    color: @font-color;

    &:hover, &:hover, &:focus  {
      background-color: lighten(@green-color, 5);
      color: @font-color-inverted;
    }

    &:active, &.active  {
      background-color: lighten(@green-color, 25);
      color: @font-color-inverted;
      // transform: translateY(1.5px);
    }
  }
}

.input-label {
  width: auto;
  max-width: 15rem;

  &.wide {
    width: 20rem;
    max-width: 20rem;
  }

  &.widefull {
    width: 90%;
    max-width: 90%;
  }
}

input[type=text], input[type=password], input[type=email], textarea {
  width: auto;
  min-width: 15rem;
  max-width: 100%;
  width: 15rem;

  &:not(textarea) {
    height: 2.8rem;
  }

  font-size: 1.0rem;

  .box;

  outline: none;

  border: 1px solid @border-color;
  border-radius: 0.2rem;
  background-color: @ultra-lighter-color;

  transition-property: box-shadow, border, background-color;
  transition-duration: 0.3s;
  will-change: box-shadow, border, background-color;

  &:focus {
    box-shadow: 0 0 1rem @active-color;
    border: 1px solid @active-lighter-color;
    background-color: @white-color;
  }

  &.error {
    border: 1px solid @red-color;

    &:focus {
      box-shadow: 0 0 1rem @red-color;
      border: 1px solid @red-color;
      background-color: @white-color;
    }
  }

  &:placeholder-shown {
    font-size: 0.9rem;
    // line-height: 0.8rem;
  }

  &.wide {
    width: 20rem;
  }

  &.widefull {
    width: 90%;
  }
}

.text {
  &.error {
    color: @font-color-error;
  }

  &.sub {
    color: @font-color-disabled;
  }

  &.subsub {
    color: @font-color-more-disabled;
  }

  &.mini {
    font-size: 0.9rem;
  }

  &.big {
    font-size: 1.1rem;
  }

  &.micro {
    font-size: 0.8rem;
  }

  &.nano {
    font-size: 0.5rem;
  }

  &.upper {
    text-transform: uppercase;
  }

  &.thin {
    font-weight: 300;
  }

  &.medium {
    font-weight: 600;
  }

  &.fat {
    font-weight: 800;
  }

  &.gard-0 {
    background: -webkit-linear-gradient(white, #5e5e5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.gard-1 {
    background: -webkit-linear-gradient(#b81ed7, #c18ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.gard-2 {
    background: -webkit-linear-gradient(#1e8ad7, #7eb2d7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.gard-3 {
    background: -webkit-linear-gradient(#d79e1e, #d7be7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.gard-4 {
    background: -webkit-linear-gradient(#1ed758, #7ed79a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.gard-5 {
    background: -webkit-linear-gradient(#d71e1e, #d77e7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.title {
  color: #FFF;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;

  display: block;
  background: -webkit-linear-gradient(white, #5e5e5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 1.5vw;
  letter-spacing: 0.4vw;
  line-height: 1.8vw;

  @media screen and (max-width: @tablet) {
    font-size: 5vw;
    letter-spacing: 1vw;
    line-height: 6.0vw;
  }

  &.small {
    font-size: 0.9vw;
    letter-spacing: 0.2vw;

    @media screen and (max-width: @tablet) {
      font-size: 3vw;
      letter-spacing: 0.9vw;
    }
  }

  &.medium {
    font-weight: 600;
    font-size: 2.0vw;
    letter-spacing: 0.6vw;
    line-height: 2.3vw;

    @media screen and (max-width: @tablet) {
      font-size: 7vw;
      letter-spacing: 1.2vw;
      line-height: 8.0vw;
    }
  }
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 5px solid white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
}

.boxed-container {
  // min-width: 17rem;

  .boxed {
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 0.90);
    // box-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.8);
    // border: 1px solid #fff;
    color: @font-color-black;
    // min-height: 20rem;
    overflow: hidden;
  }

  .row {
    border-top: 1px solid #ddd;
    background-color: #fff;
    &:nth-child(odd) {
      background-color: #f5f5f5;
    }

    &.header {
      background-color: #f0f0f0;
    }

    .cell:not(:first-child) {
      // background-color: #fff;
      border-left: 1px solid #ddd;
    }
  }

  .obtain {
    padding: 1.5rem;
  }
}


.blog {
  .blog-image {
    overflow: hidden;
    max-height: 4rem;
    max-height: 10rem;
    position: relative;

    .button-area {
      position: absolute;
      bottom: 0rem;
      left: 0;
      right: 0;
      opacity: 0;
      pointer-events: none;
      & > * {
        pointer-events: all;
      }

      transition-property: opacity;
      transition-duration: 0.2s;
      will-change: opacity;
    }

    &:hover, &:hover, &:focus  {
      .button-area {
        opacity: 1;
      }
    }
  }

  .blog-container {
    position: relative;
    // overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    transition-property: height, max-height;
    transition-duration: 1s;
    will-change: height, max-height;

    .blog-button {
      opacity: 0;
      display: none;

      position: absolute;
      bottom: 0rem;
      left: 0;
      right: 0;
      // background-color: #fff;
      color: #666;
      // background: -webkit-linear-gradient(radial, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);

      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      .transition;
      .unselectable;
      .pointer;

      * {
        pointer-events: none;
      }

      & > * {
        display: inline-block;

        position: relative;

        width: auto;
        min-width: 2.8rem;
        white-space: nowrap;

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;

        border-radius: 0.6rem;

        background-color: rgba(238, 238, 238, 0.7);
        color: inherit;

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          content: '';

          opacity: 0;

          transition-property: opacity;
          transition-duration: 0.3s;
          will-change: opacity;
        }
      }

      &.loading, &[loading="true"] {
        cursor: default;
        pointer-events: none;

        & > * {
          color: transparent;
          background: transparent;

          border: 1px solid #eee;

          &:hover, &:hover, &:focus  {
            color: transparent;
            background: transparent;
          }

          &:active, &.active  {
            color: transparent;
            background: transparent;
          }

          &:after {
            opacity: 1;
            background-size: 4rem 4rem;
            background-image: linear-gradient(-45deg, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
            animation: anim 2s linear infinite;

            border-radius: 0.6rem;
          }
        }
      }

      &:hover, &:focus {
        color: #777;
        background: radial-gradient(ellipse at bottom, rgba(113, 221, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);

        & > * {
          color: @font-color-black;
          background-color: darken(@shadow-color, 5);
        }
      }

      &:active, &.active {
        color: #999;
        background: radial-gradient(ellipse at bottom, rgba(177, 236, 255, 1) 0%, rgba(255, 255, 255, 0) 80%);

        & > * {
          background-color: @active-color;
          color: @font-color-inverted;
        }
      }

      .align-center;
    }
  }

  &.off {
    .blog-container {
      // overflow: hidden;
      // max-height: 10rem;

      .blog-button {
        opacity: 1;
        display: block;
      }
    }
  }
}

.editor-simple {
  white-space: pre;

  outline: none;

  // border: 1px solid @border-color;
  border-radius: 0.2rem;
  // background-color: @ultra-lighter-color;

  transition-property: box-shadow, border, background-color;
  transition-duration: 0.3s;
  will-change: box-shadow, border, background-color;

  &:focus {
    // box-shadow: 0 0 1rem @active-color;
    // border: 1px solid @active-lighter-color;
    background-color: @white-color;
  }

  &:empty:before {
    color: @font-color-disabled;
    content: attr(placeholder);
  }

  &:not(:disabled) {
    a {
      .selectable;
      cursor: text;
    }
  }
}

.editor {
  display: block;

  white-space: normal;
  word-wrap: normal;

  outline: none;
  // overflow: auto;

  // border: 1px solid @border-color;
  border-radius: 0.2rem;
  // background-color: @ultra-lighter-color;

  transition-property: box-shadow, border, background-color;
  transition-duration: 0.3s;
  will-change: box-shadow, border, background-color;

  &:focus {
    // box-shadow: 0 0 1rem @active-color;
    // border: 1px solid @active-lighter-color;
    background-color: @white-color;
  }

  &:empty:before {
    color: @font-color-disabled;
    content: attr(placeholder);
    display: block;
  }

  &:not([disabled=true]) {
    a {
      -moz-user-select: auto !important;
      -khtml-user-select: auto !important;
      -webkit-user-select: auto !important;
      -o-user-select: auto !important;
      user-select: auto !important;
      cursor: text !important;
    }
  }

  .hidden {
    display: none;
  }

  span, a {
    display: inline-block;
    white-space: normal;
  }

  div {
    border-radius: 0.2rem;
    transition-property: background-color;
    transition-duration: 0.3s;
    will-change: background-color;
    display: block;
    width: 100%;
    white-space: normal;
  }

  // div + div {
  //   margin-top: 0.4rem;
  // }

  img {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    white-space: pre;
  }

  .underline {
    text-decoration: underline;
  }

  .overline {
    text-decoration: overline;
  }

  .bold {
    font-weight: bold;
  }

  .header {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }

  .bigheader {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .italic {
    font-style: italic;
  }

  .mini {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  .code {
    font-family: monospace;
  }

  .sub {
    .text.sub;
  }
}

.waited {
  position: relative;
  min-height: 2rem;
  min-width: 1rem;

  &:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    // border: 1px solid #eee;

    opacity: 0;

    transition-property: opacity;
    transition-duration: 0.3s;
    will-change: opacity;
  }

  &.loading, &[loading="true"] {
    color: transparent;
    background: transparent;
    cursor: default;
    pointer-events: none;

    & > * {
      opacity: 0;
    }

    &:hover, &:hover, &:focus  {
      color: transparent;
      background: transparent;
    }

    &:active, &.active  {
      color: transparent;
      background: transparent;
    }

    &:after {
      opacity: 1;
      background-size: 4rem 4rem;
      background-image: linear-gradient(-45deg, #eee 25%, #fff 25%, #fff 50%, #eee 50%, #eee 75%, #fff 75%);
      animation: anim 2s linear infinite;

      // border-radius: 0.6rem;
    }
  }
}

.select {
  display: block;

  white-space: normal;
  word-wrap: normal;

  .tag {
    display: inline-block;
    white-space: normal;
    width: auto;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    border-radius: 0.2rem;
    background-color: #ddd;

    .remove {
      cursor: pointer;

      margin-left: 0.5rem;

      &:focus, &:hover, &.hover {
        opacity: 0.7;
      }

      &:active, &.active {
        transform: translateY(1px);
      }
    }

    &:focus, &:hover, &.hover {
      background-color: #bbb;
    }
  }

  .input {
    white-space: normal;
    word-wrap: normal;

    outline: none;
    // overflow: auto;

    // border: 1px solid @border-color;
    border-radius: 0.2rem;
    // background-color: @ultra-lighter-color;

    transition-property: box-shadow, border, background-color;
    transition-duration: 0.3s;
    will-change: box-shadow, border, background-color;

    &:focus {
      // box-shadow: 0 0 1rem @active-color;
      // border: 1px solid @active-lighter-color;
      background-color: @white-color;
    }

    &:not([disabled=true]) {
      a {
        -moz-user-select: auto !important;
        -khtml-user-select: auto !important;
        -webkit-user-select: auto !important;
        -o-user-select: auto !important;
        user-select: auto !important;
        cursor: text !important;
      }
    }

    display: inline-block;
    white-space: normal;
    width: auto;
    min-width: 1rem;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;

    &:empty:before {
      color: @font-color-disabled;
      content: attr(placeholder);
      display: block;
    }
  }
}

.popup-menu {
  overflow-y: auto;
  overflow-x: visible;
  width: 100%;

  .item, .header {
    .transition;

    display: block;
    width: 100%;
    white-space: nowrap;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .fa {
      margin-right: 0.3rem;
      font-size: 1rem;
      line-height: 1.4rem;
      vertical-align: baseline;
    }
  }

  .item {
    cursor: pointer;
  }

  .header {
    color: @font-color-disabled;
  }

  .item:not(:last-child), .header:not(:last-child) {
    border-bottom: 1px solid #eee;
  }

  .item:first-child, .header:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  .item:last-child, .header:last-child {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .item:hover, .item:hover, .item:focus, .item.hover  {
    background-color: @shadow-color;
  }

  .item:active, .item.active  {
    background-color: @active-color;
    color: @font-color-inverted;
    // transform: translateY(1.5px);
  }
}

.panes {
  .unselectable;

  .pane {
    // display: inline-block;
    // min-width: 10rem;
    // max-width: 100rem;

    border-radius: 0.25rem;
    border: 1px solid @divider-color;
    box-sizing: border-box;

    background: #fff;
    color: @font-color-black;

    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.1);

    .panel {
      width: 100%;
      height: 3rem;
      .unselectable;
      cursor: move;
      font-size: 1.0rem;
      font-weight: 600;
      padding: 0.75rem 1.0rem;

      background-color: #eee;
      border-bottom: 1px solid @divider-color;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;

      .unselectable;

      cursor: pointer;

      opacity: 0.6;

      padding: 0.75rem 1.0rem;

      &:focus, &:hover, &.hover {
        opacity: 1;
      }

      &:active, &.active {
        transform: translateY(1px);
      }
    }

    .dialog {
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 3rem;
      left: 0rem;
      right: 0rem;
      bottom: 0;
      text-align: center;

      .object {
        display: inline-block;
        border-radius: 0.25rem;
        border-top: 1px solid @divider-color;
        border-bottom: 1px solid @divider-color;
        border-left: 1px solid @divider-color;
        border-right: 1px solid @divider-color;
        box-sizing: border-box;
        margin: 2rem 1rem 1rem 1rem;

        background: #fff;
        color: @font-color-black;

        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.scrollable-horizontal {
  position: relative;
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 100%;
}

.relative {
  position: relative;
}

.table-layout {
  display: table;

  width: 100vw;
  height: 100%;
  min-height: 100vh;
  max-width: 100vw;

  & > * {
    display: table-cell;
  }
}

.left-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.8);

  & > .item, & > .header {
    width: 4rem;
    height: 4rem;
    padding: 1.25rem 0;
    font-size: 1.8rem;
    text-align: center;
    vertical-align: middle;

    .unselectable;

    * {
      pointer-events: none;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
  }

  & > .header {
    color: #ddd;
  }

  & > .item {
    // background-color: rgba(255, 255, 255, 0.08);
    color: #999;

    .transition;

    * {
      pointer-events: none;
    }

    cursor: pointer;

    &:focus, &:hover, &.hover {
      color: #444;
      background-color: #fff;
    }

    &:active, &.active {
      // transform: translateY(1px);
      background-color: @active-color;
      color: @font-color-inverted;
    }
  }
}
