<html>
<head>
  <title>This is Makame Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="stylesheet" href="../../../../normalize.css" media="screen" charset="utf-8/">
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{desc}}" />
  <meta property="og:image" content="{{image}}" />
  <meta property="fb:app_id" content="{{facebook_api_key}}"/>
  <meta property="fb:admins" content="{{facebook_admins}}"/>
</head>
<body>
  <div id="fb-root"></div>
  <script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&version=v2.5&appId={{facebook_api_key}}";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-comments" data-href="{{redirrect_to}}" data-width="100%" data-numposts="5" data-order-by="reverse_time" data-app-id="{{facebook_api_key}}"></div>
</body>
</html>
