<html>
<head>
  <title>This is Makame Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link rel="stylesheet" href="../../../../style.css" media="screen" charset="utf-8/">
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{desc}}" />
  <meta property="og:image" content="{{image}}" />
  <meta property="fb:app_id" content="{{facebook_api_key}}"/>
  <meta property="fb:admins" content="{{facebook_admins}}"/>
</head>

<body>
  <div id="loading">
    <div class="content">
      <div class="container align-center title"><span>Loading, Please wait</span></div>
      <div class="container align-center title small"><span>#Australia #Motivation #Reason</span></div>
    </div>
  </div>
  <div id="app-container"></div>
  <div class="pageload-overlay">
    <svg width="100%" height="100%">
    </svg>
    <div class="content">
      <div class="container align-center title"><span>We can change it</span></div>
      <div class="container align-center title small"><span>#Australia #Motivation #Reason</span></div>
    </div>
  </div>
  <div id="fb-root"></div>
  <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1&version=v2.5&appId={{facebook_api_key}}"></script>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId: {{facebook_api_key}},
      cookie: true,
      status: true,
      xfbml: true,
      version: 'v2.5'
    });

    FB.getLoginStatus(function(response) {
    });
  };
  </script>
  <script src="../../../../client.js" charset="utf-8"></script>
</body>
</html>
