<html>
<head>
  <title>This is Makame Blog</title>
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{desc}}" />
  <meta property="og:image" content="{{image}}" />
  <meta property="fb:app_id" content="{{facebook_api_key}}"/>
  <meta property="fb:admins" content="{{facebook_admins}}"/>
  <meta http-equiv="refresh" content="0; url={{redirrect_to}}" />
</head>
<script>
</script>
</body>
</html>
